body {
  font-family: Arial, sans-serif;
  background-color: #fffaf0;
  image-rendering: auto;
  color: #333;
  background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExYjV6aXlhNWN4eWU3bGZxN3dlNjBqNXYyOTVtbWJlMTNhczc4dDUyYSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/JrZHAQT0CxmkPWj9LZ/giphy.gif");
}
header {
  background-color: #ffbee1;
  padding: 40px 20px;
  text-align: center;
  border-bottom-left-radius: 2px solid #ff69b4;
  border-bottom-right-radius: 2px solid #ff69b4;
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.Mision {
  padding: 60px 20px;
  background-color: #ffe5f3;
  border-radius: 15px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Vision {
  padding: 60px 20px;
  background-color: #ffe5f3;
  border-radius: 15px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #ff69b4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
